* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #323232;
    color: whitesmoke;
}

header h1 {
    font-size: 3rem;
}

.container {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto auto;
    padding: 2rem;
    /* padding-bottom: 0px; */
    width: calc(70% + 11rem);
    
    height: 1056px;
    background-color: #161720;
}

.todo-row {
    display: flex;
    flex-direction: column;
    
}

#input-col {
    background-color: #1a1e27;
    min-height: 15%;
    width: calc(250px + 45vw);
    margin: 1.5rem;
}

#todo-col {
    background-color: #1a1e27;
    min-height: 60%;
    width: calc(250px + 45vw);
    margin: 1.5rem;
    overflow: auto;
}

/* Alerts */ 

.alert-danger {
    color:#aa0000;
    margin-top: 5px;
}

.alert-success {
    color: #1b531b;
    margin-top: 5px;
}


/* Buttons */

.button {
    margin-top: 1.25rem;
    padding: 0.5rem 1rem;
    border-radius: 7px;
    text-decoration: none;
    color: whitesmoke;
}
.button:hover {
    color: black;
    font-size: medium;
    cursor: pointer;
}

.button-blue {
    background-color: #1b2c53;
}
.button-blue:hover {
    background-color: #324f94;
}

.button-filter {
    background-color: #1b531b;
}
.button-filter:hover {
    background-color: #3a9432;
}

.button-clear {
    background-color: #7c0606;
}
.button-clear:hover {
    background-color: #aa0000;
}


/* Forms */
.form-control {
    font-size: x-large;
    width: 85%;
    height: 2.5rem;
    padding: 0.75rem 1.25rem;
    margin-top: 1.25rem;
}



/* Todo List */

.list-group {
    list-style: none;
}

.list-group-item {
    overflow: auto;
    font-size: x-large;
    border: 2px solid whitesmoke;
    border-radius: 7px;
    margin: 0.25rem auto;
    padding: 0.5rem;
    
}

.delete-item {
    padding: 0px 10px;
    font-size: xx-large;
    float: right;
    color: #7c0606;
}
.delete-item:hover {
    color: #aa0000;
    cursor:default;
}

.fa-remove:hover {
    cursor: pointer;
}


/* Footer Section */
footer {
    background-color: #323232;
    height: 20%;
    width: calc(250px + 45vw);
    margin: 1.5rem;
    padding: 1rem;
}

footer ul {
    list-style-type: none;
    display: inline-block;
    align-items: center;
}

footer ul li {
    float:left;
    padding: 0.5rem;
}

footer ul li a {
    text-decoration: none;
    color: whitesmoke;
    padding: 1rem;
}

footer ul li a:hover {
    background: #161720;
    border-radius: 7px;
}